/* Basic Defaults */

@media screen and (min-width: 960px) {
  .container.is-smaller {
    max-width: 896px;
  }
}

/* Unique Color Defaults */

.colorthis {
  background-color: #205BA6;
}

.bg-colorthis {
  background-color: #205BA61A;
}

.txt-colorthis {
  color: #205BA6;
}

.bg-hover-colorthis {
  transition: 0.5s;
}

.bg-hover-colorthis:hover {
  background-color: #205BA61A;
}

.bg-hover-colorthis:hover .bg-colorthis {
  transition: 0.5s;
  background-color: #205BA6;
}

/* Index Pages */

.indexheader {
  background-image: url("/img/sketchbg.png");
}

.hobbyheader {
  background-image: url("/img/iconbg.png");
}