---
layout: default
permalink: /to-do/
title: To-Do
subtitle: I guess I should put content on this website at some point.
---

{% include navbar.html index=true %}

{% include hero-banner.html size="small" header="" %}

<section class="section">

  <div class="container">

    {% for category in site.data.to-do  %}

    <div class="card mb-4">
      <header class="card-header has-background-primary-light">
        <p class="card-header-title">{{ category.category }}</p>
      </header>
      <div class="card-content content">
        <ul>
          {% for task in category.tasks %}
          <li>{{task}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
