---
layout: default
permalink: /projects/
title: Projects
subtitle: The finest collection of Stack Overflow answers you'll ever see
---

{% include navbar.html index=true %}

{% include hero-banner.html size="small" header="projectheader" %}

<!--{% include link-card.html url="" title="" description="" %}-->

  <div class="container p-2">
    <div class="box is-shadowless">
    
      <p class="title is-5">Current Projects</p>

      <div class="break"></div>

      {% include link-card.html url="https://samemessenger.herokuapp.com" title="[2021] Same Messenger" description="Rewritten version of the original messenger. It's no longer reliant on PubNub!" %}
      
      {% include link-card.html url="https://samevideoherokuapp.com" title="[2021] Same Video" description="Rewritten version of the original video chat. It's no longer reliant on PubNub! Also it works now, and I actually wrote the code!" %}
      
      {% include link-card.html url="/perfectplaces" title="[2020] Perfect Places" description="Uses the Google Maps Places API to show you a random selection of places near you, based off a chosen keyword. (Not working right now)." %}

    </div>
    
  </div>

  <div class="container p-2">
    <div class="box is-shadowless">
    
      <p class="title is-5">Archives of Past Projects</p>

      <div class="break"></div>

      {% include link-card.html url="/bored" title="[2018] Bored" description="A page I made when I was bored in a Psychology lecture that let's you write Bouncing 3D text on a rainbow background. Very cool, and of course, very useless." %}
      
      {% include link-card.html url="https://gdmessenger.herokuapp.com/" title="[2016] GD Messenger" description="An almost completely insecure messenging site I made in year 11 so we could talk in class without the teacher knowing. Honestly half the fun is in doing horrifying things with deprecated html tags (marquee for da win)." %}
      
      {% include link-card.html url="https://gdvideo.herokuapp.com/" title="[2016] [Broken] GD Video" description="A WebRTC based video chat I made in year 11, following the messenger site. It actually worked decently, but I think they made some security changes to WebRTC which destroyed my code. The big rip time." %}
      
      {% include link-card.html url="/theofarted" title="[2016] Theo Farted" description="Ewww theo farted gross. (I made this in year 11, and I feel it needs preservation)." %}

      {% include link-card.html url="/graphicsdemo-old" title="[2015] Original Graphics Demo" description="Behold the namesake of this website! It's uh, pretty shitty honestly." %}
    </div>
    
  </div>
