---
layout: default
permalink: /
title: Graphics Demo
subtitle: The official birthplace of Pestilence and Famine
---

<div class="is-overlay">
  <label class="darkmode">
    <input type="checkbox" id="darkmode">
    <label class="is-pulled-right" for="darkmode" title="Toggle Dark Mode"></label>
  </label>
</div>


{% include hero-banner.html header="indexheader" %}

<section class="section">
  <div class="container">

    {% include link-card.html url="/blog" title="Blog" description="A place to put all my various musings / my elaborate plan to kill Weezer." %}

    {% include link-card.html url="/hobby" title="The Hobby Hobby" description="I have decided that my hobby will be trying <i>every</i> hobby. Here's where I'm going document this insane effort." %}

    {% include link-card.html url="/neurotransmitters" title="The Neurotransmitter Project" description="Fucking neurotransmitters, how do they work? No seriously help, there's more than 200 of them." %}

    {% include link-card.html url="/mental-illness" title="Mental Illness" description="Yo those mental illnesses be straight illin' <span style='font-size: 8px'>Sorry</span>. I guess I should do some research into them or something." %}

    {% include link-card.html url="/music" title="Music" description="A place to document my extensive 1tb collection of the same mp3 copy of Wonderwall. Also some other songs might have slipped in there." %}

    {% include link-card.html url="/projects" title="Projects" description="I take the pro out of projects, so I guess these are just jects." %}

  </div>
</section>
