---
layout: default
permalink: /maproulette/
title: Map Roulette
---

{% include navbar.html index=true %}

{% include hero-banner.html size="small" header="" %}

<section class="section">
  <div class="container">

    <article class="message">
      <div class="message-body bg-colorthis border-colorthis content">
        <p class="title is-5">Project Essential To-Do's:</p>
        
        <ul>
          <li>Write project description.</li>
          <li>Get User Location</li>
          <li>Use <a href="https://developers.google.com/places/web-service/search">Maps API</a> to search for places near user location.</li>
          <li>Or <a href="https://www.sygic.com/blog/2018/sygic-places-as-an-alternative-to-the-google-places-api">this</a> might be a possible alternative?</li>
          <li>Allow user to specify radius for search (But default to something like 5km).</li>
          <li>Randomly select one of the search results and display information about it.</li>
          <li>Allow user to select / remove certain types of places from being selected (eg. restaurants, cafe's, etc).</li>
        </ul>
        
      </div>  
    </article>
    
    <article class="message">
      <div class="message-body bg-colorthis border-colorthis content">
        <p class="title is-5">Project Extension To-Dos:</p>
        
        <ul>
          <li>Include map to allow user to select a location they want the search to be done from.</li>
          <li>Have a target moving around the map while selection is taking place.</li>
        </ul>
        
      </div>  
    </article>

  </div>
</section>
