---
layout: default
permalink: /places/
title: Places
subtitle: Oh the places you'll loiter
date: 2021-09-29 20:41:00+11
---

{% include navbar.html index=true %}

{% include hero-banner.html header="places-header" ftitle="Places" %}

<section class="section">
  <div class="container">

      <!-- <div class="box has-background-primary-light has-border-left border-colorthis">
        <a class="has-text-primary" href="/blog.xml"><p>RSS Feed is available here.</p></a>
      </div> -->


    <div class="box content">
      <p class="title is-4">Posts</p>
      <div class="break"></div>
      <ul>
        {% for post in site.places reversed %}
        {% unless post.title == "Places" %}
          <li>{{ post.date | date_to_string}} - <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endunless %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>
