---
layout: default
permalink: /neurotransmitters/
index: true
title: Neurotransmitters
fulltitle: The Neurotransmitter Project
subtitle: Fuck neurotransmitters, my brain's gonsta use the blockchain to communicate with itself.
---

{% include navbar.html %}

{% include heroBanner.html header="" %}

<section class="section">
  <div class="container">

    <article class="message">
      <div class="message-body bg-colorthis border-colorthis">
        <p class="title is-5">Rationale:</p>
        <p>Ok, so my reasoning on this is that there's supposedly a shit ton of different neurotransmitters / neuropeptides / neuromodulators that singal in the brain, but I can only vaguely talk about 10 of them. So, I want to make a page for everyone of these, and write out my research into them. Essentially I want to make a resource that fills the gap between "simplistic website for kids" and "complicated  specific research paper" on online resources.</p>

        <p>Apparently though, I'm the first person to have ever have even thought of making a full list of the neurotransmitters in the brain, <i>let alone</i> actualy writing what each of them do in the brain. So apparently, completing this project will put my website on the forefront of neurobiological research.</p>
      </div>  
    </article>

  </div>
</section>

<div class="break"></div>