<section class="hero {% unless include.size == "small" %} is-medium {% endunless %} has-background-primary-light {{ include.header }}">
  <div class="hero-body">
    <div class="container">
      <div class="card has-text-centered">
        <div class="card-header has-background-primary p-3"></div>
        <div class="card-content">
          <h1 class="title is-2 has-text-weight-bold">
            {% if include.ftitle == nill %}
              {{ page.title }}
            {% else %}
              {{ include.ftitle }}
            {% endif %}
          </h1>
          <h2 class="subtitle">{{ page.subtitle }}</h2>
        </div>
      </div>
    </div>
  </div>  
</section>