---
layout: default
permalink: /blog/
title: Blog
subtitle: My random thoughts on things, avoid at all costs.
date: 2020-09-30 20:41:00+11
---

{% include navbar.html index=true %}

{% include hero-banner.html header="blogheader" %}

<section class="section">
  <div class="container">

      <div class="box has-background-primary-light has-border-left border-colorthis">
        <a class="has-text-primary" href="/blog.xml"><p>RSS Feed is available here.</p></a>
      </div>

    <div class="content">
      <p class="title is-4">Posts</p>
      <div class="break"></div>

      <div class="mx-4">

        {% for blogpost in site.blog reversed %}
        {% unless blogpost.title == "Blog" %}
          <a href="{{ blogpost.url }}">
            <div class="box content border-colorthis has-border-left bg-hover-colorthis my-4">
              <p class="title is-5">{{ blogpost.title }}</p>
              <p class="subtitle is-6">{{ blogpost.date | date_to_string}}</p>
              <div class="break"></div>
              <p>{{blogpost.excerpt | strip_html | truncatewords: 30}}</p>
            </div>
          </a>
        {% endunless %}
        {% endfor %}

      </div>
    </div>

  </div>
</section>
