---
layout: default
permalink: /blog/
title: Blog
subtitle: My random thoughts on things, avoid at all costs.
---

{% include navbar.html index=true %}

{% include hero-banner.html header="blogheader" %}

<section class="section">
  <div class="container">
    <div class="box content">
      <p class="title is-4">Posts</p>
      <div class="break"></div>
      <ul>
        {% for blogpost in site.blog reversed %}
        {% unless blogpost.title == "Blog" %}
          <li>{{ blogpost.date | date_to_string}} - <a href="{{ blogpost.url }}">{{ blogpost.title }}</a></li>
        {% endunless %}
        {% endfor %}
      </ul>
    
    </div> 
  </div>
</section>