/************** 
Fonts
***************/
@font-face {
  font-family: "Heebo";
  src: url("/assets/font/Heebo.ttf") format("truetype");
  font-style: normal;
}

body {
  font-family: "Heebo", sans-serif;
}

/************** 
CSS Variables
***************/

:root {
  --primary: #205BA6;
  --primary-light: #205BA61A;
}

/************** 
Helper Variables
***************/

@media screen and (min-width: 960px) {
  .container.is-smaller {
    max-width: 896px;
  }
}

.always-text-white {
  color: white !important;
}

.is-borderless {
  border: none !important;
}

/************** 
Page Elements
***************/

.break {
  border-bottom: 2px solid #eee;
  height: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  
}

/************** 
Navbar Shit
***************/


.navbar-brand {
  width: 100%;
}

.navbar-item.darkmode {
  margin-left: auto;
}

/************** 
Unique Color Defaults (Somewhat Deprecated)
***************/

.colorthis {
  background-color: var(--primary);
}

.bg-colorthis {
  background-color: var(--primary-light);
}

.txt-colorthis {
  color: var(--primary);
}

.bg-hover-colorthis {
  transition: 0.4s;
}

.bg-hover-colorthis:hover {
  background-color: var(--primary-light);
}

/* .bg-hover-colorthis:hover .has-background-primary-light {
  transition: 1s;
  background-color: var(--primary) !important;
} */

.border-colorthis {
  border-color: var(--primary);
}

/************** 
Index Page Headers
***************/

.blogheader {
  background-image: url("/assets/images/writetest2.png");
}

.indexheader {
  background-image: url("/assets/images/sketchbg.png");
}

.hobbyheader {
  background-image: url("/assets/images/iconbg.png");
}

.mentalheader {
  background-image: url("/assets/images/brainbg.png");
}

.musicheader {
  background-image: url("/assets/images/musicbg.png");
}

.neurotransmitterheader {
  background-image: url("/assets/images/neuronbg4.png");
}

/************** 
Blog
***************/

.blog-container {
  background-color: var(--dm-white);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: var(--default-text);
  max-width: 100%;
  position: relative;
  border-radius: 0;
  overflow: hidden;
}

.blog-top {
  align-items: stretch;
  display: flex;
  padding: 0.75rem;
  background-color: var(--primary);
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  margin-bottom: 1rem;
}

.blog-head {
  margin: 0 1rem;
  padding: 0.4rem;
  border-bottom: 2px solid #eee;
}

.blog-navigation {
  padding: 1rem 0;
}

.blog-content {
  padding: 1.5rem;
}


@media screen and (max-width: 768px) {
  .blog.section {
    padding: 0;
  }
  .blog-container {
    box-shadow: none;
  }
  .blog-top {
    visibility: collapse;
  }
  .blog-title {
    border-left: 4px solid var(--primary);
    padding-left: 6px;
    margin-left: -6px;
  }
}


/************** 
Hobby Hobby Index
***************/


.hobbylegend {
  pointer-events: none;
}

.hobbygrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.hobbyitem {
  flex-grow: 1;
  width: 150px;
  max-width: 150px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  box-shadow: inset -0.125px 0 0.25em rgba(10, 10, 10, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: var(--dark);
  overflow: hidden;
  transition: 0.2s;
  text-transform: capitalize;
}

.hobbyitem:hover {
  background-color: #e6e6e61A !important;
}

/* Pseudo-elements are fucking cursed */

.hobbyitem::after {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  content: " ";
  border-radius: 4px;
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  margin: -10px; /* This should offset the padding */
}

.hobbyitem.finished {
  border-right: 5px solid #64ca57;
  background-color: #64ca570A;
}

.hobbyitem.in-progress {
  border-right: 5px solid #fed185;
  background-color: #fed1850A;
}

.hobbyitem.unstarted {
  border-right: 5px solid #cc0f4c;
  background-color: #cc0f4c0A;
  pointer-events: none;
  cursor: default;
}

/************** 
Hobby Page
***************/

@media screen and (max-width: 768px) {
  .hobby-page .section {
    padding: 1rem;
  }
  .hobby-page .hero-body {
    padding: 1rem;
  }
  
}