---
layout: default
title: Houseplant Care
subtitle: makes plant noises
---

{% include navbar.html %}

{% include hero-banner.html size="small" header="plantheader" %}

<section class="section">
  <div class="container">
    
    <div class="box">
  
      <p class="title is-5">Introduction</p>

      <p>As it turns out, I actually enjoy taking care of houseplants. Sure it's not the most involved of hobbies, but there's something really satisfying about checking up on your plants everyday and seeing them grow. Plus giving them names and taking care of them makes them feel like extremely low maintenance pets, which just adds to their appeal.</p>

      <br>

      <p>This page will be dedicated to showing off my steadily growing plant collection, and tracking how my plants change over time.</p>
      
    </div>
    
    <div class="card">
      <div class="card-header has-background-primary p-1"></div>
      <div class="card-content p-0 m-0">
        <p class="title is-4 mt-4 ml-4">The Plant Gang</p>
        <img class="image plant-group" src="/assets/images/hobby/plants/2021.01.21-Group.jpg">
      </div>
    </div>
    
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="card">
      <div class="card-content">
        <p class="title is-3">Meet the Gang!</p>
      </div>
      <div class="card-header has-background-primary p-1" style="border-top-left-radius: : 0; border-top-right-radius: "></div>
    </div>
    
    <div class="is-flex is-flex-wrap-wrap is-align-content-center is-justify-content-center">
    
    {% for plant in site.data.plants %}
    
      <div class="card m-4 is-flex-shrink-1">
        <div class="card-image">
          <figure>
            <div class="slider">

              <div class="slides">
              
                {% for date in plant.photo-dates reversed %}
                
                <div id="{{plant.name}}-{{forloop.index}}">
                  <img src="/assets/images/hobby/plants/{{date}}-{{plant.name}}.jpg" alt="{{plant.name}}">
                  <p class="subtitle is-6">{{date | date_to_long_string}}</p>
                </div>
                
                {% endfor %}
              
              </div>
              
              {% for date in plant.photo-dates %}
            
              <a href="#{{plant.name}}-{{forloop.index}}">{{forloop.index}}</a>
              
              {% endfor %}
              
            </div>
            
          </figure>
        </div>
        <div class="card-content pt-0">
          <div class="media">
            <div class="media-content is-clipped">
              <p class="title is-4">{{plant.name}}</p>
              <p class="subtitle is-6"><i>{{plant.species}}</i></p>
            </div>
          </div>

          <div style=" min-width: 100%; width: 0;">
            <p>{{ plant.description }}</p>
          </div>
        </div>
      </div>
    
    {% endfor %}
      
    </div>
    
  </div>
  
</section>