---
layout: default
title: Houseplant Care
subtitle: makes plant noises
---

{% include navbar.html %}

{% include hero-banner.html size="small" header="plant-header" %}

<section class="section">
  <div class="container">

    <div class="box">

      <p class="title is-5">Introduction</p>

      <p>As it turns out, I actually enjoy taking care of houseplants. Sure it's not the most involved of hobbies, but there's something really satisfying about checking up on your plants everyday and seeing them grow. Plus giving them names and taking care of them makes them feel like extremely low maintenance pets, which just adds to their appeal.</p>

      <br>

      <p>This page will be dedicated to showing off my steadily growing plant collection, and tracking how my plants change over time.</p>

    </div>

    <div class="is-flex is-flex-wrap-wrap is-align-content-center is-justify-content-center mb-4">

      <div class="card is-flex-shrink-1">

        <div class="card-content">
          <p class="title is-3">Full Collection</p>
        </div>
        <div class="card-header has-background-primary p-1" style="border-radius: 0;"></div>

        <div class="card-image">
          <figure>
            <div class="slider">

              <div class="slides">

                {% assign counter = 0 %}

                {% for image in site.static_files reversed %}{% if image.path contains "images/hobby/plants/Group" %}

                {% assign counter = counter | plus:1 %}

                <div id="Group-{{counter}}">
                  <img src="/assets/images/hobby/plants/Group/{{image.basename}}.jpg" alt="{{image.basename}} - Group Shot">
                  <p class="subtitle is-6">{{image.basename | date_to_long_string}}</p>
                </div>

                {% endif %}{% endfor %}

              </div>

              {% for i in (1..counter) %}

              <a href="#Group-{{i}}">{{i}}</a>

              {% endfor %}

            </div>
          </figure>
        </div>
      </div>
    </div>

    <div class="is-flex is-flex-wrap-wrap is-align-content-center is-justify-content-center">

      <div class="card is-flex-shrink-1">

        <div class="card-content">
          <p class="title is-3">Cuttings</p>
        </div>
        <div class="card-header has-background-primary p-1" style="border-radius: 0;"></div>

        <div class="card-image">
          <figure>
            <div class="slider">

              <div class="slides">

                {% assign counter = 0 %}

                {% for image in site.static_files reversed %}{% if image.path contains "images/hobby/plants/Cuttings" %}

                {% assign counter = counter | plus:1 %}

                <div id="Cuttings-{{counter}}">
                  <img src="/assets/images/hobby/plants/Cuttings/{{image.basename}}.jpg" alt="{{image.basename}} - Cuttings">
                  <p class="subtitle is-6">{{image.basename | date_to_long_string}}</p>
                </div>

                {% endif %}{% endfor %}

              </div>

              {% for i in (1..counter) %}

              <a href="#Cuttings-{{i}}">{{i}}</a>

              {% endfor %}

            </div>
          </figure>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container">

    <div class="card">
      <div class="card-content">
        <p class="title is-3">Plants</p>
      </div>
      <div class="card-header has-background-primary p-1" style="border-top-left-radius: : 0; border-top-right-radius: "></div>
    </div>

    <div class="is-flex is-flex-wrap-wrap is-align-content-center is-justify-content-center has-background-primary-light">

    {% for plant in site.data.plants %}

      <div class="card m-4 is-flex-shrink-1">
        <div class="card-image">
          <figure>
            <div class="slider">

              <div class="slides">

                {% assign counter = 0 %}

                {% for image in site.static_files reversed %}{% if image.path contains "images/hobby/plants/" %}{% if image.path contains plant.name %}

                {% assign counter = counter | plus:1 %}

                <div id="{{plant.name}}-{{counter}}">
                  <img src="/assets/images/hobby/plants/{{plant.name}}/{{image.basename}}.jpg" alt="{{plant.name}}">
                  <p class="subtitle is-6">{{image.basename | date_to_long_string}}</p>
                </div>

                {% endif %}{% endif %}{% endfor %}

              </div>

              {% for i in (1..counter) %}

              <a href="#{{plant.name}}-{{i}}">{{i}}</a>

              {% endfor %}

            </div>

          </figure>
        </div>
        <div class="card-content pt-0">
          <div class="media">
            <div class="media-content is-clipped">
              <p class="title is-4">{{plant.name}}</p>
              <p class="subtitle is-6"><i>{{plant.species}}</i></p>
            </div>
          </div>

          <div style=" min-width: 100%; width: 0;">
            <p>{{ plant.description }}</p>
          </div>
        </div>
      </div>

    {% endfor %}

    </div>

  </div>

</section>
