---
layout: default
title: Hobby Hobby
subtitle: Whoa they made ADHD into a hobby???
---

<noscript>
  <style>
    .hobbygrid.is-hidden {
      display: flex !important;
    }
    
    button {
      display: none !important;
    }
    
  </style>
</noscript>

{% include navbar.html index=true %}

{% include hero-banner.html ftitle="The Hobby Hobby" header="hobbyheader" %}

<section class="section">
  <div class="container">

    <article class="message">
      <div class="message-body has-background-primary-light border-colorthis content">
        <p class="title is-5">Rationale:</p>
        <p>I realised the other day that I have pretty much no hobbies, apart from passively consuming media content and going on long walks. So, I figured that I should probably pick up some more involved hobbies, to build character and all that. Unfortunately, there's like a bazillion different hobbies to pick from, and my brain categorically refuses to make any sort of decision. So, to spite my brain (or am I enabling it?), I've decided I'm going to make an honest attempt at every trying every hobby on Wikipedia's <a href="https://en.wikipedia.org/wiki/List_of_hobbies">List of Hobbies</a>, and document my attempts here so I have a greater chance of actually doing this.</p>
      </div>  
    </article>

    <article class="message">
      <div class="message-body content">
        <p class="title is-5">Rules:</p>
        <p>I should probably define some rules for what constitutes an attempt, but I can't think of any right now, so that's for future me to figure out. In general, I want to try to do a unique project with each of the hobbies, rather than just attempting them once, snapping a few photos, and calling it a day. I also might avoid some of the hobbies that might actually be dangerous (like BASE Jumping), or somehow re-interpret them so they're not dangerous.</p>
      </div>  
    </article>

  </div>
</section>

<div class="break"></div>

<div class="tags is-centered hobbylegend">
  <span class="hobbyitem unstarted">Not Started</span>
  <span class="hobbyitem in-progress">In Progress</span>
  <span class="hobbyitem finished">Finished</span>
</div>

<section class="section">
  <div class="container hobbycontainer">

    <div class="card has-text-centered is-radiusless">
        <div class="card-header has-background-primary p-2"></div>
        <div class="card-content">
          <p class="title is-3 has-text-weight-bold">In Progress</p>
        </div>
      </div>

    <button class="button is-radiusless is-borderless has-background-primary-light is-fullwidth" onClick="toggleDiv(this)">Expand</button>

    <div class="box hobbygrid mt-4 is-hidden pl-0 pr-0">
      {% for hobbylist in site.data.hobbies.hobbylists %}
        {% for hobby in hobbylist.hobbies %}
          {% if hobby.status == "in-progress" %}
            <a class="hobbyitem {{ hobby.status }}" href="{{ hobby.name | slugify }}">{{ hobby.name }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</section>

<div class="break"></div>

{% for hobbylist in site.data.hobbies.hobbylists %}
<section class="section">
  <div class="container hobbycontainer">

    <div class="card has-text-centered is-radiusless">
        <div class="card-header has-background-primary p-2"></div>
        <div class="card-content">
          <p class="title is-3 has-text-weight-bold">{{ hobbylist.title }}</p>
          <p class="subtitle">{{ hobbylist.subtitle }}</p>

        </div>
      </div>

    <button class="button is-radiusless is-borderless has-background-primary-light is-fullwidth" onClick="toggleDiv(this)">Expand</button>

    <div class="box hobbygrid mt-4 is-hidden pl-0 pr-0">
      {% for hobby in hobbylist.hobbies %}
        <a class="hobbyitem {{ hobby.status }}" href="{{ hobby.name | slugify }}">{{ hobby.name }}</a>
      {% endfor %}
    </div>

  </div>
</section>
{% endfor %}

<script type="text/javascript" src="/assets/js/collapse.js"></script>