---
layout: default
title: Railway Journeys
subtitle: Choo Choo! Here comes the cum train
---

{% include navbar.html %}

{% include hero-banner.html size="small" header="metro-header" %}

<section class="section">
  <div class="container">

    <div class="box">

      <p class="title is-5">Introduction</p>


      <p>So there's <a href="https://www.reddit.com/r/melbourne/comments/42l1q3/some_mates_posted_this_on_facebook_3_days_17/">this post</a> on Reddit that I actually like (I know, very cringe), that has the title:</p>
      <br>
      <p>"3 days, 17 lines and 218 stations later the quest to reach every station in Melbourne is complete. <b>If you can't travel the world, travel the metro</b>."</p>
      <br>
      <p>And since I love plagiarising, I think I'm going to do something similar. Specifically, I'm going to visit every train station on the Melbourne Metro, and take a picture outside every station to put on this page.</p>
    </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <img class="image-pop" src="/assets/images/hobby/Metro.jpg" alt="Map of the Melbourne Metro">
  </div>
</section>
