---
layout: default
permalink: /mental-illness/
title: Mental Illness
subtitle: Mental illness be like, actually really horrible oh jeeze please stop.
---

{% include navbar.html index=true %}

{% include hero-banner.html header="mentalheader" %}

<section class="section">
  <div class="container">

    <article class="message">
      <div class="message-body bg-colorthis border-colorthis content">
        <p class="title is-5">Rationale:</p>
        <p>Mental Illness information on the internet is complete garbage, it's uninformative, <i>almost never</i> cited, confusing, and sometimes even completely wrong. There needs to be better information on these topics, because they're <i>really</i> important, which is why I'm making this project.</p>

        <p>I want this project to cover all the different types of mental illness, giving each of them a short summary, a comprehensive summary of all the different theories as to what causes them, and descriptive information on all the different strategies that are used to treat them. For each of these pages, I want <i>every</i> fact to be properly cited so it's not just me talking out of my ass.</p>

        <p>This is a ridiculously large undertaking honestly, but I think that someone needs to do it, and I guess it might as well be me. (Oh shit, I'm essentially giving myself homework, what have I become?)</p>

      </div>
    </article>

  </div>
</section>

<div class="break"></div>

<div class="container">
  <div class="m-4">
  {% for mental-illness in site.data.mental-illnesses %}
  <div class="card mb-4">
    <header class="card-header has-background-primary-light">
      <p class="card-header-title">{{ mental-illness.category }}</p>
    </header>

    <div class="card-content content">
      <ul>
      {% for condition in mental-illness.conditions %}
        <li>{{ condition }}</li>
      {% endfor %}

      {% for sub-cateogry in mental-illness.sub-categories %}
      <li class="has-text-weight-bold">{{ sub-cateogry.category }}</li>
      <ul>
      {% for condition in sub-cateogry.conditions %}

        <li>{{ condition }}</li>

      {% endfor %}
      </ul>
      {% endfor %}

      </ul>

      </div>
  </div>
  {% endfor %}
  </div>
</div>
